.logo{
    width: 70px;
    height: 54px;
}
.textColor{
    color: #194E90 !important;
}
.font{
    font-family: 'Lobster', cursive;
    color: #E67833;
}
.text p{
    font-size: 80%;
}
li{
    list-style: none;
}
@media only screen and (max-width:739px) {
    .text p{
    font-size: 2.1vw;
    }
    .sale h2{
        text-align: center;
    }
    .caption p{
        position: absolute;
        top: 57%;
        left: 10%;
        font-size: 16px !important;
    }
   

}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 22px; 
 }
.cuson{
    cursor: pointer;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{
    background-color: white !important;
}
.bg{
    background-color: #194E90;
}
.boder{
    border-radius: 10px 10px 0px 0px
}
.item{
    position: relative;
    
}
.caption{
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 30px;
    width: 100%;
    text-align: center;
    color: #fff;
    background: #1716167d;
    height: 100%;
}
.caption img{
    position: absolute;
    top: 20%;
    left: 40%;
}
.caption p{
    position: absolute;
    top: 57%;
    left: 20%;
    white-space: nowrap;
}
