.logo{
    width: 70px;
    height: 54px;
}
.textColor{
    color: #194E90 !important;
}
.font{
    font-family: 'Lobster', cursive;
    color: #E67833;
}
.text p{
    font-size: 80%;
}
li{
    list-style: none;
}
@media only screen and (max-width:739px) {
    .text p{
    font-size: 2.5vw;
    }

}
.dropdown:hover .dropdown-menu {
    display: block;
    margin-top: 22px; 
 }
.cuson{
    cursor: pointer;
}
.navbar p:hover{
 
    background-color: red;
}
